/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.header {
	position: absolute;
	z-index: 100;
}

.progress {
	position: absolute;
	z-index: 100;
}

 .navContainer {
   margin: 0 auto;
   width: 100%;


  }
 nav {
   background-image: url("../images/navheader4.png");
   height: 341px;
   width: 100%;
   background-color: white;


  }

   nav nav-wrapper {
     max-width: 1280px;
     width: 90%;
    }
   nav h1 {
     color: #FFCE00; }
   nav .brand-logo {
     display: block;
     border-radius: 50%;
     animation: spin 1000ms linear infinite, moveLeftToRight 3s forwards;
     position: absolute;
     left: 44%;
     margin-top: 80px;


    }
 @keyframes spin {
   from {
     transform: rotate(0deg); }
   to {
     transform: rotate(360deg); } }

   nav h1 {
     margin-top: 25px;
     text-align: center;
     animation: fadein 7s;
     color: #FFCE00; }

 .arc {

   position: relative;
   font-family:  sans-serif; }
   .arc li {
     float: left;
     list-style: none;
     width: 400px;
     height: 200px;
     padding: 40px;
     position: absolute;
     top: 80%;
     left: 50%;
     margin: 25px 0 0 -150px;
     animation: spin 4000ms linear infinite; }
 @keyframes spin {
   from {
     transform: rotate(0deg); }
   to {
     transform: rotate(-360deg); } }
   .arc #simple_arc {
     display: block;
     width: 306px;
     height: 305px; }
     .arc #simple_arc span[class^=w]:nth-of-type(n+0) {
       display: block;
       position: absolute;
       transform-origin: 50% 100%; }
     .arc #simple_arc span {
       font-size: 48px;
       font-weight: regular;
       font-style: normal;
       line-height: .15;
       white-space: pre;
       overflow: visible;
       padding: 0px; }
     .arc #simple_arc .w0 {
       transform: rotate(-1.14rad);
       width: 21px;
       height: 14px;
       left: 22.7px;
       top: 99.95px;
       color:#00963C;
     }
     .arc #simple_arc .w1 {
       transform: rotate(-0.69rad);
       width: 34px;
       height: 24px;
       left: 50.63px;
       top: 55.91px;
       color: #00963C;

     }
     .arc #simple_arc .w2 {
       transform: rotate(-0.55rad);
       width: 21px;
       height: 1px;
       left: 57.89px;
       top: 38.25px;
       color: #00963C;

      }
     .arc #simple_arc .w3 {
       transform: rotate(-0.16rad);
       width: 13px;
       height: 5px;
       left: 104.79px;
       top: 17.58px;
       color: #00963C; }
     .arc #simple_arc .w4 {
       transform: rotate(0.05rad);
       width: 10px;
       height: 24px;
       left: 150.32px;
       top: 13.9px;
       color: #00963C; }
     .arc #simple_arc .w5 {
       transform: rotate(0.43rad);
       width: 15px;
       height: 14px;
       left: 174.07px;
       top: 16.42px;
       color: #00963C; }
     .arc #simple_arc .w6 {
       transform: rotate(0.5rad);
       width: 25px;
       height: 15px;
       left: 208.96px;
       top: 35.39px;
       color: #00963C; }
     .arc #simple_arc .w7 {
       transform: rotate(1.14rad);
       width: 25px;
       height: 15px;
       left: 274.96px;
       top: 87.39px;
       color: #00963C; }
     .arc #simple_arc .w8 {
       transform: rotate(1.70rad);
       width: 25px;
       height: 15px;
       left: 260.96px;
       top: 155.39px;
       color: #00963C; }
     .arc #simple_arc .w9 {
       transform: rotate(1.95rad);
       width: 25px;
       height: 4px;
       left: 255.96px;
       top: 215.39px;
       color: #00963C; }
     .arc #simple_arc .w10 {
       transform: rotate(2.40rad);
       width: 1px;
       height: 12px;
       left: 240.96px;
       top: 225.39px;
       color: #00963C; }

p {
  line-height: 2rem;
}



.parallax-container {
  min-height: 650px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}



.icon-block {
  padding: 0 15px;

}
.icon-block .material-icons {
  font-size: inherit;
  content: url("../images/badge.png");
  width: 30%;
}

.tabs .tab a {
  color: #00963C;
}



.white {
margin-top: -100px;

}
footer.page-footer {
  margin: 0;
}





/* badge size */
/*#badge {
	height: 100px;
	width: 100px;
	display: inline-block;
}*/

.grayscale {
	filter: grayscale(100%);
}
